import { Button } from "@chakra-ui/react";

export const {{pascalCase name}} = () => {
  const onClickHandler = () => {};
  return (
    <Button colorScheme="green" onClick={onClickHandler}>
      {{pascalCase name}}
    </Button>
  );
};
